@tailwind base;

* {
    scrollbar-width: thin;
  }

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 4px;
    scrollbar-width: thin;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #edeaea;
    border-radius: 50px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0ED3AC;
    background-color: #0ED3AC;
    border-radius: 50px;
    width: 1px;
    height: 2px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #0ED3AC;
    background: #0ED3AC;
}

@tailwind components;
@tailwind utilities;